
.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .blogStyle {
    padding: 10px;
    padding-left: 2px,;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid black;
  }

  button {
    background-color: rgb(65, 145, 171);
    color: white;
    border-radius: 5px;
    
  }

  button:hover {
    background-color: rgb(10, 77, 111);
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .link:hover {
    color: rgb(65, 145, 171);
  }

  .loggedIn{
    color: white;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  p{
    text-align: justify;
  }